<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="peliculaXML" class="es.curso.modelo.entidad.Pelicula" scope="singleton">
		<property name="titulo" value="El retorno del yedi"></property>
		<property name="genero" value="Scifi"></property>
	</bean>	

</beans>
