<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- Si no damos de alta este objeto, 
	la popiedad lilstaPeliculas de la clase dao daria un ArrayList por defecto
	pero !Ojo! nos add una pelicula vacia
	Lo mejor para esto es hacer un new en el dao y listo
	 -->
	<bean id="listaPeliculas" class="java.util.ArrayList">
	</bean>
	
	<bean id="numeroMaximo" class="java.lang.Integer">
		<constructor-arg value="2"></constructor-arg>
	</bean>
	
	<context:component-scan base-package="modelo"></context:component-scan>
</beans>

