<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Como hemos visto en ejemplos anteriores podemos crear todos los objetos
	persona que queramos -->
	<bean id="paco" class="ejemplo03.Persona" scope="singleton">
		<property name="nombre" value="Paco"></property>
		<property name="edad" value="50"></property>
		<property name="peso" value="100"></property>
	</bean>
	
	<bean id="ana" class="ejemplo03.Persona" scope="singleton">
		<property name="nombre" value="ana"></property>
		<property name="edad" value="25"></property>
		<property name="peso" value="70"></property>
	</bean>
	
	<!-- Tambien tenemos casos, los cuales queremos que cuando le pidamos
	un objeto a Spring, nos devuevla un objeto nuevo, es decir, no sea singleton.
	Para este tipo de casos podemos establecer un nuevo scope, que sería 
	"prototype". Este objeto creado será un objeto que se tomará como molde
	a la hora de crear los demas objetos.
	Ojo, en este caso cuando le pedimos al contexto un objeto de este tipo,
	el contexto nos devuelve un objeto nuevo creado, cuyo ciclo de vida no
	depende de Spring, depende del programador.
	 -->
	<bean id="personaPrototype" class="ejemplo03.Persona" scope="prototype">
		<property name="edad" value="18"></property>
	</bean>
	
	<!-- Podemos dar de alta en nuestro contexto de Spring cualquier objeto
		que tengamos en nuestro classpath. Esta lista me la creo para poder
		guardar los objeto prototipados que en algun momento cree en la
		aplicacion. Esta lista si que va a ser singleton porque quiero 
		que el objeto sea unico
	 -->
	<bean id="listaPersonas" class="java.util.ArrayList"></bean>
</beans>
