<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>09_WebSpring</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!-- Le decimos a spring donde tiene que ir a buscar el fichero xml de configuracion -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
           WEB-INF/appicationContext.xml
        </param-value>
  </context-param>
  
  <!-- Decimos a tomcar que cuando arranque carge el contexto de spring a partir de las siguientes
  	clases
   -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
</web-app>